/*
  名称：好游企业官网
  日期：2025年4月5日 21:26:35
  作者：尹玲玲
  版本：V1.2.1
  描述：全局颜色变量
*/
:root {

  /* 全局主题色系 */
  /* --hy-nav-bg: var(--color1);
  --hy-nav-text: var(--color5); */

  /* 页面背景色 */
  /* --color-bg-page: #f5f5f5; */
  /* 容器背景色 */
  /* --color-bg-container: #ffffff; */
  /* 容器悬停背景色 */
  /* --color-bg-container-hover: #f9fafb; */
  /* 文字主色 */
  /* --color-text-primary: #111827; */
  /* 文字辅色 */
  /* --color-text-secondary: #6b7280; */
  /* 文字悬停色 */
  /* --color-text-hover: #1d4ed8; */
  /* 按钮文字颜色 */
  /* --color-btn-text: #1d4ed8; */
  /* 按钮背景色 */
  /* --color-btn-primary: #3b82f6; */
  /* 未选中按钮背景色 */
  /* --color-btn-bg-unselected: #3b82f6; */
  /* 按钮悬停色 */
  /* --color-btn-hover: #2563eb; */
  /* 边框色 */
  /* --color-border: #e5e7eb; */
  /* 阴影色 */
  /* --color-shadow: rgba(0, 0, 0, 0.1); */
  /* 警告色 */
  /* --color-warning: #f59e0b; */
  /* 提示色 */
  /* --color-info: #3b82f6; */
  /* 禁用色 */
  /* --color-disabled: #d1d5db; */

  /* 导航条背景色 */
  /* --color-nav-bg: rgba(255, 255, 255, 0.5); */
  /* 导航条遮罩色（建议带透明度） */
  /* --color-nav-mask: rgba(0, 0, 0, 0.5); */
  /* 导航条文字色 */
  /* --color-nav-text: #111827; */
  /* 导航文字悬停 */
  /* --color-nav-text-hover: #3b82f6;  */

  --color-primary: #3498db;
  --color-secondary: #1abc9c;

  --color-bg-page: #f6f6f6;
  --color-bg-container: #ffffff;
  --color-bg-container-hover: #f4f7fa;
  --color-text-primary: #2c3e50;
  --color-text-secondary: #7f8c8d;
  --color-text-hover: #3498db;
  --color-btn-text: #ffffff;
  --color-btn-bg-unselected: #dfdfdf;
  --color-btn-primary: #3498db;
  --color-btn-primary-70: rgba(52, 152, 219, 0.7);
  --color-btn-hover: #2980b9;
  --color-btn-hover-90: rgba(41, 128, 185, 0.9);
  --color-border: #bdc3c7;
  --color-shadow: rgba(0, 0, 0, 0.5);
  --color-warning: #e74c3c;
  --color-info: #1abc9c;
  --color-disabled: #ecf0f1;


  --color-nav-bg: #2e3a4d;
  --color-nav-mask: rgba(46, 58, 77, 0.7);
  --color-nav-text: #f1f5f9;
  --color-nav-text-hover: #60a5fa;



  --color-bqhs-d: #ffe2e2;
  --color-bqhs-z: #fb2c36;

  --color-bqls-d: #dbeafe;
  --color-bqls-z: #2b7fff;

  --color-bqus-d: #fef9c2;
  --color-bqus-z: #d08700;

  --color-bqvs-d: #dcfce7;
  --color-bqvs-z: #00A631;

  --color-bqzs-d: #f3e8ff;
  --color-bqzs-z: #9810fa;

  --color-bqcs-d: #ffead3;
  --color-bqcs-z: #f64a6d;



}






.el-color-predefine {
  display: flex;
  font-size: 12px;
  margin-top: 8px;
  width: 280px
}

.el-color-predefine__colors {
  display: flex;
  flex: 1;
  flex-wrap: wrap
}

.el-color-predefine__color-selector {
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  margin: 0 0 8px 8px;
  width: 20px
}

.el-color-predefine__color-selector:nth-child(10n+1) {
  margin-left: 0
}

.el-color-predefine__color-selector.selected {
  box-shadow: 0 0 3px 2px var(--el-color-primary)
}

.el-color-predefine__color-selector > div {
  border-radius: 3px;
  display: flex;
  height: 100%
}

.el-color-predefine__color-selector.is-alpha {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==)
}

.el-color-hue-slider {
  background-color: #f00;
  box-sizing: border-box;
  float: right;
  height: 12px;
  padding: 0 2px;
  position: relative;
  width: 280px
}

.el-color-hue-slider__bar {
  background: linear-gradient(90deg, #f00 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00);
  height: 100%;
  position: relative
}

.el-color-hue-slider__thumb {
  background: #fff;
  border: 1px solid var(--el-border-color-lighter);
  border-radius: 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .6);
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 1
}

.el-color-hue-slider__thumb:focus-visible {
  outline: 2px solid var(--el-color-primary);
  outline-offset: 1px
}

.el-color-hue-slider.is-vertical {
  height: 180px;
  padding: 2px 0;
  width: 12px
}

.el-color-hue-slider.is-vertical .el-color-hue-slider__bar {
  background: linear-gradient(180deg, #f00 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00)
}

.el-color-hue-slider.is-vertical .el-color-hue-slider__thumb {
  height: 4px;
  left: 0;
  top: 0;
  width: 100%
}

.el-color-svpanel {
  height: 180px;
  position: relative;
  width: 280px
}

.el-color-svpanel__black, .el-color-svpanel__white {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.el-color-svpanel__white {
  background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0))
}

.el-color-svpanel__black {
  background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0))
}

.el-color-svpanel__cursor {
  position: absolute
}

.el-color-svpanel__cursor > div {
  border-radius: 50%;
  box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, .3), 0 0 1px 2px rgba(0, 0, 0, .4);
  cursor: head;
  height: 4px;
  transform: translate(-2px, -2px);
  width: 4px
}

.el-color-alpha-slider {
  background-image: linear-gradient(45deg, var(--el-color-picker-alpha-bg-a) 25%, var(--el-color-picker-alpha-bg-b) 25%), linear-gradient(135deg, var(--el-color-picker-alpha-bg-a) 25%, var(--el-color-picker-alpha-bg-b) 25%), linear-gradient(45deg, var(--el-color-picker-alpha-bg-b) 75%, var(--el-color-picker-alpha-bg-a) 75%), linear-gradient(135deg, var(--el-color-picker-alpha-bg-b) 75%, var(--el-color-picker-alpha-bg-a) 75%);
  background-position: 0 0, 6px 0, 6px -6px, 0 6px;
  background-size: 12px 12px;
  box-sizing: border-box;
  height: 12px;
  position: relative;
  width: 280px
}

.el-color-alpha-slider__bar {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, var(--el-bg-color) 100%);
  height: 100%;
  position: relative
}

.el-color-alpha-slider__thumb {
  background: #fff;
  border: 1px solid var(--el-border-color-lighter);
  border-radius: 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .6);
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 1
}

.el-color-alpha-slider__thumb:focus-visible {
  outline: 2px solid var(--el-color-primary);
  outline-offset: 1px
}

.el-color-alpha-slider.is-vertical {
  height: 180px;
  width: 20px
}

.el-color-alpha-slider.is-vertical .el-color-alpha-slider__bar {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgb(255, 255, 255))
}

.el-color-alpha-slider.is-vertical .el-color-alpha-slider__thumb {
  height: 4px;
  left: 0;
  top: 0;
  width: 100%
}

.el-color-dropdown {
  width: 300px
}

.el-color-dropdown__main-wrapper {
  margin-bottom: 6px
}

.el-color-dropdown__main-wrapper:after {
  clear: both;
  content: "";
  display: table
}

.el-color-dropdown__btns {
  margin-top: 12px;
  text-align: right
}

.el-color-dropdown__value {
  color: #000000;
  float: left;
  font-size: 12px;
  line-height: 26px;
  width: 160px
}

.el-color-picker {
  display: inline-block;
  height: 32px;
  line-height: normal;
  outline: none;
  position: relative;
  width: 32px
}

.el-color-picker:hover:not(.is-disabled,.is-focused) .el-color-picker__trigger {
  border-color: var(--el-border-color-hover)
}

.el-color-picker:focus-visible:not(.is-disabled) .el-color-picker__trigger {
  outline: 2px solid var(--el-color-primary);
  outline-offset: 1px
}

.el-color-picker.is-focused .el-color-picker__trigger {
  border-color: var(--el-color-primary)
}

.el-color-picker.is-disabled .el-color-picker__trigger {
  background-color: var(--el-fill-color-light);
  cursor: not-allowed
}

.el-color-picker.is-disabled .el-color-picker__color {
  opacity: .3
}

.el-color-picker--large {
  height: 40px;
  width: 40px
}

.el-color-picker--small {
  height: 24px;
  width: 24px
}

.el-color-picker--small .el-color-picker__empty, .el-color-picker--small .el-color-picker__icon {
  transform: scale(.8)
}

.el-color-picker__trigger {
  align-items: center;
  border: 1px solid var(--el-border-color);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  font-size: 0;
  justify-content: center;
  padding: 4px
}

.el-color-picker__color, .el-color-picker__trigger {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%
}

.el-color-picker__color {
  border: 1px solid var(--el-text-color-secondary);
  border-radius: var(--el-border-radius-small);
  display: block;
  text-align: center
}

.el-color-picker__color.is-alpha {
  background-image: linear-gradient(45deg, var(--el-color-picker-alpha-bg-a) 25%, var(--el-color-picker-alpha-bg-b) 25%), linear-gradient(135deg, var(--el-color-picker-alpha-bg-a) 25%, var(--el-color-picker-alpha-bg-b) 25%), linear-gradient(45deg, var(--el-color-picker-alpha-bg-b) 75%, var(--el-color-picker-alpha-bg-a) 75%), linear-gradient(135deg, var(--el-color-picker-alpha-bg-b) 75%, var(--el-color-picker-alpha-bg-a) 75%);
  background-position: 0 0, 6px 0, 6px -6px, 0 6px;
  background-size: 12px 12px
}

.el-color-picker__color-inner {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

.el-color-picker .el-color-picker__empty {
  color: var(--el-text-color-secondary);
  font-size: 12px
}

.el-color-picker .el-color-picker__icon {
  align-items: center;
  color: #ffffff;
  display: inline-flex;
  font-size: 12px;
  justify-content: center
}

.el-color-picker__panel {
  background-color: #ffffff;
  border-radius: var(--el-border-radius-base);
  box-shadow: var(--el-box-shadow-light);
  box-sizing: content-box;
  padding: 6px;
  position: absolute;
  z-index: 10
}

.el-color-picker__panel.el-popper {
  border: 1px solid var(--el-border-color-lighter)
}

.el-color-picker, .el-color-picker__panel {
  --el-color-picker-alpha-bg-a: #ccc;
  --el-color-picker-alpha-bg-b: transparent
}

.dark .el-color-picker, .dark .el-color-picker__panel {
  --el-color-picker-alpha-bg-a: #333333
}
